body {
  background-color: sienna;
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

ul li {
  font-size: 1.15rem;
  font-family: Verdana;
  list-style-type: none;
  text-align: center;
}

ul li a {
  color: aliceblue;
  text-decoration: none;
}
